{% extends 'base.html.twig'%}
{% block title %}Potente | Show{% endblock%}
{% block body %}
    <h1>{{users.username}}</h1>
    <p>{{users.email}}</p>
    <hr>
    <a href="/">{% trans into 'ar' %} back {% endtrans %}</a>
{% endblock %}